<header>
  <nav class="navbar navbar-default header_nav">
    <div class="container-fluid">
      <div class="navbarwrap">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><h3 class="cloud">

            <img width="40" height="40" src = "./../assets/images/Logo.svg" alt="logo"/>
            CloudFiler</h3></a>
        </div>
        <div class="text-center d_flex" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav  mr-auto middle_nav">
            <li  class="nav-item  "><a href="#"  ><h4 class="setting"><img width="40" height="40" src = "./../assets/images/cog.svg" alt="logo"/> <span style=" opacity: 0.5;"> Settings & Administration </span></h4> </a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right header-right-db">
            <li class="dropdown show-data" >
              <a  class="dropdown-toggle user-email" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"  > {{this.userDetail?this.userDetail.email:''}}
                 <!-- <img width="20" height="20" src = "./../assets/images/combo-arrow.svg" alt="logo"/> -->
                 <i class="fas fa-caret-down"></i>
                </a>
              <ul class="dropdown-menu " id="testDropdown">
                <li><a href="#">Logout <i class="fas fa-sign-out-alt"></i></a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

</header>




