<div class=" listingtab" style="width: 100%; font-size: 19px !important;">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div>





        <div class=" " id="location" role="tabpanel" aria-labelledby="location-tab">
          <div class="row location-row1">
            <div class="col-sm-3 col-xs-10">
              <img class="w_sm_32" width="50" height="50" src="./../assets/images/folder-open.svg" alt="logo" />

              <div class="title-div">
                <span class="title">Accounts</span>
              </div>
            </div>

            <div class="col-sm-1 col-xs-1 " style="float: right;">
              <img class="float-right" width="40" height="40" src="./../assets/images/Help-black.svg" alt="logo" />
            </div>
          </div>
          <div class="main-account-container">
            <div id="collapse1" class=" location-row3 table-responsive">
              <table class="table">
                <thead>

                </thead>
                <tbody
                  style="overflow-y: unset;  height: 500px !important;border-left: solid 1px #7030A0 !important;border-bottom: solid 1px #7030A0 !important;">

                  <tr class="heading">
                    <td>Accounts</td>
                    <td>License Category </td>
                    <td>Licenses</td>
                    <td>Active Users</td>
                    <td>Renewal Date</td>
                    <td>
                      <div class="inner-addon">
                        <img src="./../assets/images/search.svg" alt="logo"
                           /><input type="text" name="search"
                          placeholder="Type here to filter">
                      </div>

                    </td>

                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>The Company Business</td>
                    <td>Direct Sales</td>
                    <td>1300</td>
                    <td>123</td>
                    <td>2022-09-23</td>
                    <td> </td>
                  </tr>


                </tbody>
              </table>


            </div>
            <div class="add_user_btn">

              <a class="add_user">
              <img width="20" height="20"
                    src="./../assets/images/plus-square-grey.svg" alt="logo"><span class="icon_text"> Add Account</span></a>

                </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>