<div class=" listingtab" style="width: 100%; font-size: 19px !important;">
  <div class="row">
    <div class="col-md-12 col-sm-12">

      <div>
        <div class=" " id="location" role="tabpanel" aria-labelledby="location-tab">
          <div class="row location-row1">
            <div class="col-md-3">
              <img width="40" height="40" src="./../assets/images/cog.svg" alt="logo" /><span class="location-span">Your
                settings</span>
            </div>

            <div class="col-md-1 " style="float: right;">
              <img class="float-right" width="40" height="40" src="./../assets/images/Help-black.svg" alt="logo" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="note">
                <p class="text-danger">NOTE: Greyed out settings are currently controlled by your employer</p>
              </div>

              <div class="d-flex">

                <div class="uponfile">
                  <img _ngcontent-gjg-c120="" width="30" height="30"
                    src="./../assets/images/checkbox-checked-outline.svg" alt="logo">
                  <span>Upon filing incoming messages,
                    <br>
                    delete them from your inbox</span>
                    <div class="tooltipwrap">
                      <img _ngcontent-nil-c120="" width="30" height="30"
                          src="./../assets/images/info.svg" alt="logo">
                      <span class="tooltiptext">
                          <b> Un-checked behaviour:</b> <br>
                          Messages are marked with a category flag and the
                          date is added to the subject line in form <b>[Filed on
                              2038-05-23]</b>
                          <br />
                          <b>Checked behaviour:</b> <br>
                          The message is deleted from your inbox upon
                          filing
                      </span>
                  </div>
                </div>
                <div class="allowuser">
                  <h5> Allow user
                    to edit</h5>
                  <img _ngcontent-gjg-c120="" width="30" height="30"
                    src="./../assets/images/checkbox-checked-outline.svg" alt="logo">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="location-row1 notifications">
                  <img width="40" height="40" src="./../assets/images/envelope.svg" alt="logo" /><span class="location-span">
                    Notifications</span>
              </div>
              <div class="checkboxlist">
                <img _ngcontent-gjg-c120="" width="30" height="30"
                  src="./../assets/images/checkbox-checked-outline.svg" alt="logo">
                <span>
                  CloudFiler news (We will rarely email you with news which is typically about new features in the product)
                 </span>

              </div>
              <div class="checkboxlist">
                <img _ngcontent-gjg-c120="" width="30" height="30"
                  src="./../assets/images/checkbox-checked-outline.svg" alt="logo">
                <span>
                  CloudFiler offers (From time to time we provide special offers and discounts)
                 </span>

              </div>
            </div>
          </div>

        </div>







        <br><Br> <br><Br><br><Br><br><Br><br>


      </div>
      <span style="float:right; margin:10px">Changes have been saved <img width="30" height="30"
          src="./../assets/images/save.svg" alt="logo" />
      </span>
    </div>
  </div>

</div>