<div class="container listingtab" style="width: 100%; font-size: 19px !important;">
  <div class="row">
    <div class="col-md-12 col-sm-12">

      <div  >





        <div class=" " id="location" role="tabpanel" aria-labelledby="location-tab">
          <div class="row location-row1">
            <div class="col-md-3">
              <img width="50" height="50" src = "./../assets/images/cog.svg" alt="logo"/><span class="location-span">Default settings</span>
            </div>

            <div class="col-md-1 " style="float: right;">
              <img class="float-right" width="40" height="40" src = "./../assets/images/Help-black.svg" alt="logo" />
            </div>
          </div>


          <div class="row location-row2">
            <div class="col-md-6">
              <span style="">These settings will be applied to all new users</span>
            </div>

          </div>
          <div class="row location-row2">
            <div class="col-md-6 inner-addon " style="margin-left: 60px; ">
            </div>
            <div class="col-md-2  " style="margin-left: -363px;margin-top: 21px; width:125px;">
              <span>Prevent user edits</span>
            </div>
          </div>
          <div class="row location-row2">
            <div class="col-md-6 inner-addon " style="margin:20px;margin-left: 60px; ">
              <span style=" margin-right:10px;">Upon filing messages:</span><img  width="40" height="40" src = "./../assets/images/combo-arrow.svg" alt="logo" style="padding:7px;margin-left: 276px;"/><input type="text"      name="search" class="form-control"  placeholder="Moved to 'Field' folder" style="width: 35%;font-size: 17px;display: inline-block;">
            </div>
            <div class="col-md-2  " style="margin-left: -363px;margin-top: 21px;   ">
              <img  width="30" height="30" src = "./../assets/images/padlock.svg" alt="logo"/>
            </div>
          </div>
          <div class="row location-row2">
            <div class="col-md-6  " style=" margin-left: 59px; ">
              <img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/><span style="margin-left:20px;margin-right: 20px;"> Mark filed messages </span><img  width="30" height="30" src = "./../assets/images/info.svg" alt="logo"/>
            </div>
            <div class="col-md-2  " style="    margin-left: -339px;
    margin-top: 0px;">
              <img  width="30" height="30" src = "./../assets/images/padlock-open.svg" alt="logo"/>
            </div>
          </div>

        </div>







        <br><Br> <br><Br><br><Br><br><Br><br>


      </div>
      <span style="float:right; margin:10px">Changes have been saved  <img  width="30" height="30" src = "./../assets/images/save.svg" alt="logo"/>
</span>
    </div>
  </div>

</div>



