<div class="listingtab" style="width: 100%; font-size: 19px !important;">
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <div>
                <div class=" " id="location" role="tabpanel" aria-labelledby="location-tab">
                    <div class="row location-row1">
                        <div class="col-md-3">
                            <img _ngcontent-dol-c120="" width="50" height="50" src="./../assets/images/key.svg" alt="logo" class="w_sm_32"> <span
                                class="location-span">
                                Managers</span>
                        </div>

                        <div class="col-md-1" style="float: right;">
                            <img class="float-right" width="40" height="40" src="./../assets/images/Help-black.svg"
                                alt="logo" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="note">
                                <p class="">
                                    The following people or groups have Manager rights allowing them to create and edit locations and groups
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="row min_h_270">
                        <div class="col-md-3">
                            <div class="d-flex managerlist">
                                    <img _ngcontent-ohn-c117="" width="50" height="50" src="./../assets/images/Group.svg" alt="logo">
                                    <span>Partners</span>
                                    <img _ngcontent-nil-c120="" width="30" height="30" class="ms-auto"
                                            src="./../assets/images/minus-square-grey.svg" alt="logo">
                            </div>
                            <div class="d-flex managerlist">
                                <img _ngcontent-ohn-c117="" width="50" height="50" src="./../assets/images/Group.svg" alt="logo">
                                <span>Legal team</span>
                                <img _ngcontent-nil-c120="" width="30" height="30" class="ms-auto"
                                        src="./../assets/images/minus-square-grey.svg" alt="logo">
                        </div>
                        <div class="d-flex managerlist">
                            <span>Head.Honcho@mycompany.com</span>
                            <img _ngcontent-nil-c120="" width="30" height="30" class="ms-auto"
                                    src="./../assets/images/minus-square-grey.svg" alt="logo">
                    </div>
                        <div class="d-flex managerlist">
                            <img _ngcontent-ohn-c117="" width="50" height="50" src="./../assets/images/Group.svg" alt="logo">
                            <span>Project Managers</span>
                            <img _ngcontent-nil-c120="" width="30" height="30" class="ms-auto"
                                    src="./../assets/images/minus-square-grey.svg" alt="logo">
                    </div>
                        </div>
                    </div>

                </div>








            </div>
            <div class="add_user_btn">

                <a class="add_user">
                <img width="20" height="20"
                      src="./../assets/images/plus-square-grey.svg" alt="logo"><span class="icon_text"> Add a manager or group of managers</span></a>

                  </div>
        </div>
    </div>

</div>