<div class="row ">
  <div class="col-sm-7 col-xs-10">
    <img width="50" height="50" class="w_sm_32" src="./../assets/images/key.svg" alt="logo" />
    <div class="title-div">
      <span class="title">Licenses</span>
    </div>
  </div>
  <div class="col-sm-4 col-xs-1">
  </div>
  <div class="col-sm-1 col-xs-1">
    <a target="_blank" href="https://help.cloudfiler.io/"><img class="float-right help_image " width="40" height="40"
        src="./../assets/images/Help-black.svg" alt="help" /></a>
  </div>
</div>
<div class="main-account-container">

  <div class="row">

    <div class="col-md-2">
      <div class="heading">
        <img width="40" height="40" src="./../assets/images/Account.svg" alt="logo" /><b>Account:</b>
      </div>
    </div>
    <div class="col-md-6">
      <span class="rightext">The Business Company Ltd (265-77934400)</span>
    </div>

  </div>

  <div class="row">

    <div class="col-md-2">
      <div class="heading">
        <img width="40" height="40" src="./../assets/images/Account.svg" alt="logo" /><b
          style="margin-left: 15px">Renewal Date:</b>

      </div>
    </div>
    <div class="col-md-2"><span class="mr-2 mt-1">2024-03-04</span></div>
    <div class="col-md-8 text-right">

      <span class="rightext">Automatically allocate licenses <img class="ms-2" width="30" height="30"
          src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></span>
    </div>
  </div>

  <div class="row table-header-account">
    <div class="col-md-3">
      <div class="box">
        <img width="30" height="30" src="./../assets/images/user.svg" alt="logo" /><b>Licenses:</b>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        Owned:<b>25</b>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box"> Allocated:<b>20</b></div>
    </div>
    <div class="col-md-3">
      <div class="box"> Available :<b>5</b></div>
    </div>
  </div>

  <div id="collapse1" class="table-responsive licenses_table">
    <table class="table">
      <tbody
        style="overflow: unset;  height: 600px !important;border-left: solid 1px #7030A0 !important;border-bottom: solid 1px #7030A0 !important;">
        <tr class="heading">
          <td>User</td>
          <td>First Used </td>
          <td>Last Used</td>
          <td>Status</td>
          <td>Allocated</td>
          <td>
            <div class="col-md-12 inner-addon">
              <img width="40" height="40" src="./../assets/images/filter.jpeg" alt="logo"
                style="margin-left: 271px;" /><input type="text" name="search" placeholder="Type here to filter"
                style="font-size: 20px;  width: 299px;  float: right;">
            </div>

          </td>

        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>

        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>

        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-unchecked-outline.svg" alt="logo" />
            <span class="ms-1">Re-allocate in 24 hours</span>
          </td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td>
            <img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" />
          </td>
          <td> </td>
        </tr>
        <tr>
          <td><span>joe.schmoe@business.com</span></td>
          <td>2021-11-14</td>
          <td> <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14
          </td>
          <td>Activated</td>
          <td><img width="30" height="30" src="./../assets/images/checkbox-checked-outline.svg" alt="logo" /></td>
          <td> </td>
        </tr>



      </tbody>
    </table>


  </div>
  <div class="add_user_btn">

    <a class="add_user">
    <img width="20" height="20"
          src="./../assets/images/plus-square-grey.svg" alt="logo"><span class="icon_text"> Add Users Manually</span></a>

      </div>
</div>