<div class="row ">
  <div class="col-md-7">
    <img width="50" height="50" src = "./../assets/images/key.svg" alt="logo"/>
    <div class="title-div">
      <span class="title">Licenses</span>
    </div>
   </div>
  <div class="col-md-4  ">
  </div>
  <div class="col-md-1  ">
    <a  target="_blank" href="https://help.cloudfiler.io/"><img   class="float-right help_image " width="40" height="40" src = "./../assets/images/Help-black.svg" alt="help" /></a>
  </div>
</div>
<div class="main-account-container">

  <div class="row" >

    <div class="col-md-2"  >
      <img width="40" height="40" src = "./../assets/images/Account.svg" alt="logo"/><b style="margin-left: 15px">Account:</b>
    </div>
    <div class="col-md-6">
       <span style="    margin-left: -95px;
    position: absolute;
    margin-top: 5px;">The Business Company Ltd  (265-77934400)</span>
    </div>

  </div>

  <div class="row" >

    <div class="col-md-2"  >
      <img width="40" height="40" src = "./../assets/images/Account.svg" alt="logo"/><b style="margin-left: 15px">Renewal Date:</b>
    </div>
    <div class="col-md-9">
     <span style="    margin-left: -95px;
    position: absolute;
    margin-top: 5px;">2024-03-04</span>
      <span style="
margin-right: -7px;
    margin-top: 5px;float: right;">Automatically allocate licenses <img  width="40" height="40" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></span>
    </div>
  </div>

  <div class="row table-header-account" >

    <div class="col-md-3"  >
      <img width="30" height="30" src = "./../assets/images/user.svg" alt="logo"/><b style="margin-left: 15px">Licenses:</b>
    </div>
    <div class="col-md-3"  >
      Owned:<b style="margin-right: 10px">25</b>
    </div>
    <div class="col-md-3"  >
      Allocated:<b style="margin-right: 10px">20</b>
    </div>
    <div class="col-md-2" ></div>
    <div class="col-md-1"  style="float: right">
      Available :<b style="margin-right: 10px">5</b>
    </div>
  </div>

  <div  id="collapse1" class="row  table-responsive" style="height: 600px !important;margin-left:78px !important;margin-right:95px !important;overflow-y: unset;">
    <table class="table  " >
      <thead>

      </thead>
      <tbody style="overflow: unset;  height: 600px !important;border-left: solid 1px #7030A0 !important;border-bottom: solid 1px #7030A0 !important;">

      <tr class="heading">
        <td >User</td>
        <td >First Used </td>
        <td >Last Used</td>
        <td >Status</td>
        <td >Allocated</td>
        <td >
          <div class="col-md-12 inner-addon">
            <img width="40" height="40" src = "./../assets/images/filter.jpeg" alt="logo" style="margin-left: 271px;"/><input type="text"  name="search"   placeholder="Type here to filter" style="font-size: 20px;  width: 299px;  float: right;">
          </div>

        </td>

      </tr>
      <tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr>

      <tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr><tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr><tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr><tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr><tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr>
      <tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr><tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr>

      <tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr>
      <tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr>
      <tr>
        <td  ><span style="margin-left: 20px;">joe.schmoe@business.com</span></td>
        <td >2021-11-14</td>
        <td > <img src="./../assets/images/mobile.svg" width="30" height="30" style="margin-right:10px"> 2021-11-14</td>
        <td >Activated</td>
        <td ><img  width="30" height="30" src = "./../assets/images/checkbox-checked-outline.svg" alt="logo"/></td>
        <td > </td>
      </tr>



      </tbody>
    </table>


  </div>

</div>








