<div class="row ">
  <div class="col-md-7">
    <img width="50" height="50" src = "./../assets/images/Group.svg" alt="logo"/>
    <div class="title-div">
      <span class="title">Groups</span>
    </div>
  </div>
  <div class="col-md-4  ">
  </div>
  <div class="col-md-1  ">
    <a  target="_blank" href="https://help.cloudfiler.io/"><img   class="float-right help_image " width="40" height="40" src = "./../assets/images/Help-black.svg" alt="help" /></a>
  </div>
</div>
<div class="row group-content" >
  <div class="col-md-6 group-first-section">

  </div>
  <div class="col-md-6 group-second-section">
      <
  </div>
</div>

<!--table row -->
<div class="row  ">
  <div class="col-md-12  ">

  </div>
</div>

<div class="row" >
  <div class="col-md-12  ">
    <app-add-group   ></app-add-group>
  </div>
</div>
