<div class="private_location">
    <div class="row location-row1">
        <div class="col-sm-6 col-xs-10">
         <div class="lefttext">
            <img width="50" class="w_sm_32" height="50" src="./../assets/images/padlock.svg" alt="logo" />
            <!-- <img width="50" height="50" src="./../assets/images/user.svg" alt="logo" /> -->

            <div class="title-div">
              <span class="title">Your PRIVATE Locations</span>
            </div>
         </div>
        </div>

        <div class="col-sm-1 col-xs-1 " style="float: right;">
          <img class="float-right" width="40" height="40" src="./../assets/images/Help-black.svg" alt="logo" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <p>PRIVATE Locations are only accessible to you</p>

            <div class="swichwrap">
            <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">My Salary & Benefits</label>
              </div>
            <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">My Expenses                </label>
              </div>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">My Holiday requests & approvals</label>
              </div>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">My Appraisals & Performance</label>
              </div>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                <label class="custom-control-label" for="customSwitch5">My Health</label>
              </div>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                <label class="custom-control-label" for="customSwitch5">My Training & Development
                </label>
              </div>
              <div class="salaryreview">
                <img width="50" height="50" src="./../assets/images/folder-open.svg" alt="logo" />
                <span >Salary Review Planning
                </span>
                <img width="50" height="50" src="./../assets/images/edit.svg" alt="logo" />
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="private_note">
                <p>NOTE: To sync PRIVATE messages to your
                    own folders you will need to install the
                    sync connector or ask your I.T. Support
                    team to install it for you</p>
                    <button class="btn btn-primary">Download the Sync Connector</button>
            </div>
        </div>
      </div>
      <div class="add_user_btn">

        <a class="add_user">
        <img width="20" height="20"
              src="./../assets/images/plus-square-grey.svg" alt="logo"><span class="icon_text"> Add Location</span></a>

          </div>
</div>
