<span class="dfsdfds {{clickedLocation}} {{selectedLocation.location_id}}" (click)="highlightLocation(selectedLocation.location_id)"  [ngClass]="clickedLocation==selectedLocation.location_id ? 'success' : 'danger'" >
  {{   (selectedLocation.description.length > 20? selectedLocation.description.substr(0,20)+ '...':selectedLocation.description) }}
  <img  *ngIf="clickedLocation==selectedLocation.location_id" width="20" height="20" src = "./../assets/images/edit.svg" alt="logo" style="margin-left: 10px;" (click)="open(modalDataEdit)"/></span>

<ng-template #modalDataEdit let-modal  >

<div class="edit_row">

  <div class="modal-header" style="border-bottom:unset">
    
    <div class="row edit-location-header">
      <div class="col-md-12 head">
        <img width="35" height="35" src = "./../assets/images/edit.svg" alt="logo"/>
        <span class="title">Location Properties: </span>

        <span *ngIf="showEditInput">
          <input style="width: 50%; display: inline-block" type="text" class="form-control" name="location-title" value="selectedLocation.description" [(ngModel)]="selectedLocation.description"  (keyup.enter)="onSaveLocationTitle()" >
        </span>
        <span (click)="allowEditLocationTitle()" *ngIf="!showEditInput">
          {{ selectedLocation.description }}
        </span>
        <a  target="_blank" href="https://help.cloudfiler.io/">
          <img class="float-right  help_image" width="28" height="28" src = "./../assets/images/Help-black.svg" alt="help" />
        </a>
      </div>
    </div>
  </div>

  <div class="modal-body">
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6"><img width="30" height="30" src = "./../assets/images/refresh.svg" alt="logo"/><span class="text-title">Sync sites</span> </div>
      <div class="col-md-8 col-sm-6"><app-path-location [ActionLocation]="selectedLocation" [selectedIndex]="selectedIndex" (LocationFile)="saveLocationFile($event)"></app-path-location> </div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6" > <img width="30" height="30" src = "./../assets/images/sub-folder.svg" alt="logo"/><span class="text-title">Sub Locations </span></div>
      <div class="col-md-8 col-sm-6"> <button class="btn  edit_model_button" (click)="openSmallModel(modalImplement)">View/Edit Sub-locations</button></div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6"><img width="30" height="30" src = "./../assets/images/eye.svg" alt="logo"/><span class="text-title">Who has access</span></div>
      <div class="col-md-8 col-sm-6"> <button class="btn edit_model_button" (click)="openSmallModel(modalImplement)">See who’s permissions allows them access to this location</button></div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6"><img width="30" height="30" src = "./../assets/images/padlock.svg" alt="logo"/> <span class="text-title">Confidentiality</span></div>
      <div class="col-md-8 col-sm-6">  <select class="form-control modal_select"><option>Confidentials</option></select></div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6"><img width="30" height="30" src = "./../assets/images/arrow-right.svg" alt="logo"/><span class="text-title">AutoFile alias</span></div>
      <div class="col-md-8 col-sm-6">  <input  style="color: black;" type="text" value="{{selectedLocation.description}}" class="form-control"></div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-5 col-sm-6"  style="margin-left: 35px;"  >Emails copied to this address will be automatically filed </div>
      <div class="col-md-5 col-sm-6"  style="font-size: 13px;float:right;color:dodgerblue;">  Project_Alpha_mybusiness@cloudfiler.me </div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6  ">
        <img  id="checked" (click)="setUnArchive()" width="30" height="30" src = "./../assets/images/toggle-on.svg" alt="logo" style="display: none;"/>
        <img id="unchecked" (click)="setArchive()" width="30" height="30" src = "./../assets/images/toggle-off.svg" alt="logo" />
        <span class="text-title">Move to archive</span></div>
      <div class="col-md-8 col-sm-6"> <input  style="color: black;" type="text" value="Currently hosted in core storage" class="form-control"></div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-4 col-sm-6  "><img width="30" height="30" src = "./../assets/images/trash.svg" alt="logo"/><span class="text-title">Delete location</span></div>
      <div class="col-md-8 col-sm-6 "> <button class="btn   edit_model_button "   (click)="onDeleteLocation(  selectedLocation.location_id)">Delete the location and all of its files</button></div>
    </div>
    <div class="row edit-model-line">
      <div class="col-md-12 text-edit"  style="text-align: justify;" >If you delete a location we will retain the data for up to 30 days to allow you time to undo this.</div>
      <div class="col-md-12 text-edit">Thereafter the data is permanently destroyed. </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary add-location-close"  (click)="modal.dismiss('Cross click')">Close</button>
    <!--<button type="button" class="btn btn-primary add-location-close"   (click)="_sendDataToParent(selectLocation)" >Test</button>-->
  </div>
</div>
</ng-template>

<ng-template #modalImplement let-modal  >
  <div class="not-implemented">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <img width="40" height="40" src = "./../assets/images/rench2.png" alt="logo" style="margin-top: -2px;"/>
          <span style="margin-left: 10px"><b>Not yet implemented</b></span></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary add-location-close"  (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  </div>
</ng-template>
