@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
body{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #000000 !important;
}

.menu_tabs ul>li{
  display: inline-block;
  border: solid #b4b4b4 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 12px;
  width: 14%;
}

.menu_tabs ul>li>a{
  display: inline-block;
  font-size:15px;
  text-decoration: none;
  color: #000000  ;
  padding: 10px;
}

.menu_tabs ul>li.active{
  background-color:#7030A0  ;
}

.menu_tabs ul>li.active>a{
  color:white  ;
}

.menu_tabs ul>li.last {
  background-color:#D4BEE5 !important;
}

@media screen and (max-width: 992px) {
  .menu_tabs ul>li{
   /* display: block;
    border: solid #b4b4b4 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 12px;
    padding-left: 18px;
    padding-right: 28px;*/
  }
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}
.mr-2{
  margin-right: 2rem;
}
.mt-1{
  margin-top: 1rem;
}
.ms-1{
  margin-left: 1rem;
}
.ms-2{
  margin-left: 2rem;
}

main {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
  margin: auto;
}

section {
  display: none;
  padding: 30px;
}

input {
  display: none;
}

.location_label {
  display: inline-block;
  margin: 0px;
  font-weight: normal;
  text-align: center;
  border: solid #b4b4b4 2px;
  border-top-left-radius: 12px;
  border-top-right-radius: 6px;
  color: #000000 ;
  margin-bottom: 0px !important;
  border-bottom: 0px;
  padding: 1% 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  position: relative;
  border-right: 0;
}
.location_label:last-child{
  border-right: solid #b4b4b4 2px;;
}
.location_label:before {
  display: block;
  content: " ";
  position: absolute;
  top: -2px;
  height: 10px;
  width: 6px;
  background-color: white;
  transition: all 250ms ease;
  border-left: solid 2px #b4b4b4;
  right: -12px;
  transform: skew(38deg, 0deg);
  z-index: 0;
}
a.add_group {
  display: flex;
  align-items: center;
}
a.add_group img {
  margin-right: 5px;
}
@media screen and (max-width: 1810px)  and (min-width: 1640px) {
  .location_label{
    padding: 1% 2.8%;
  }
}

@media screen and (max-width: 1640px)  and (min-width: 1460px) {
  .location_label{
    padding: 0.8% 2%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1460px) and  (min-width: 1450px) {
  .location_label{
    padding: 1% 2%;
  }
}

@media screen and (max-width: 1450px)  and (min-width: 1300px) {
  .location_label{
    padding: 1% 1.5%;
  }
}

@media screen and (max-width: 1300px)  and (min-width: 1200px) {
  .location_label{
    padding: 1% 1%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1050px) {
  .location_label{
    padding: 1% 0.8%;
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 992px) {
  .location_label{
    padding: 10px 14px;
    font-size: 15px;
    /* margin-right: 10px; */
  }
}

@media screen and (max-width: 992px) and (min-width: 680px) {
  .location_label{
    /* padding: 10px 1px; */
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 768px){
  span.tooltiptext{
    width: 335px !important;
  }
  .private_note {
    width: 100% !important;
}
}
@media screen and (max-width: 767px){
  .row.table-header-account{
    flex-direction: column;
  }
  .row.table-header-account .box{
    margin-bottom: 10px;
  }
  .main-account-container{
    margin-left: 0 !important;
  }
  .heading img, .location-row1 img {
    width: 24px !important;
}
img.help_image {
  width: 24px;
}
.w_sm_32{
  width: 26px;
  margin-right: 6px;
}
.main-account-container span.rightext img, .licenses_table table tr td img {
  width: 20px;
  height: auto;
}
.pl-0{
  padding-left: 15px !important;
}
.uponfile {
  /* margin-top: 0 !important; */
  display: block !important;
}
.direction_sm_column {
  flex-direction: column;
  text-align: left;
  align-items: baseline !important;
}
.uponfile span{
  margin: 0 0 10px 0 !important;
  display:inline-block;
}
.allowuser {
  margin-left: 0 !important;
  margin-right: auto;
  display: flex !important;
  align-items: center;
}
.allowuser h5{
  margin-right:10px;
}
span.tooltiptext {
  width: 270px !important;
  left: 0px !important;
}
.tooltipwrap {
  display: block !important;
}
.custom-control{
  margin-left: 2.5rem !important;
}
.title-div .title{
 font-size: 17px !important;
    margin-left: 0 !important;
}
section {
  padding: 15px;
}
main{
  padding: 20px;
}
}

@media screen and (max-width: 680px) {
  .location_label{
    display: block !important;
    padding: 10px  ;
    font-size: 15px;
    border-right: solid 2px #b4b4b4;
  }
  .location_label:before{
    content: none;
  }
  .location_label{
    font-size: 14px !important;
  }

}



.location_label.last{
  background-color:#D4BEE5;
}

.location_label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.location_label:hover {
  color: #888;
  cursor: pointer;
}
input:checked + .location_label::before{
  border-color: #7030A0;
}
input:checked + .location_label {
  color: white;
  background-color:#7030A0;
  border-color: #7030A0;
}

.content{
  display: block;
  border: solid #b4b4b4 2px;
}

@media screen and (max-width: 650px) {
  .location_label {
    font-size: 0;
  }

  .location_label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .location_label {
    padding: 15px;
  }
}

.modal-backdrop.fade
{
  opacity: 0.5 !important;
}
.modal
{
  opacity: 1 !important;
}
.modal-dialog {
  /* top:25% !important; */
  transform: inherit !important;
}

.in-valid {
  border: 1px solid red !important;
}

.float-right{
  float:right !important;
}

.location-table {
  overflow-y: overlay;
  height:400px;
  margin-bottom: 35px;
}

.location-table table{
  border-collapse: collapse;
  overflow: scroll;
}

.location-table table>tbody>tr{
  border: unset;
}

.title-div{
  display: inline-block;
}

.para{
  font-size:18px;
  float: right;
}

.title-div  .title{
  font-size:20px;
  font-weight: 900;
  margin-left: 10px;
}

.btn{
  background-color: #7030A0 !important;
  border-color: #7030A0 !important;
  color: white !important;
}

/* .site_model_class .modal-dialog{
  right: 20%;
} */

.site_path_model .modal-dialog {
  left: 20%;
}

.modal-btn{
  margin-left: 5px;
}

.permission-class{
  text-transform: capitalize;
}

.help_image:active , .help_image:focus , .help_image:focus-visible{

  border-color: white !important;
}

.modal-footer{
  border: unset !important;
}

.add_group_btn .add_group .icon_text {
  font-size: 16px;
  color: black;
  margin-left: 0.5rem;
  display: inline-block;
}
