<div class="listingtab" style="width: 100%; font-size: 19px !important;">
    <div class="row">
        <div class="col-md-12 col-sm-12">

            <div>
                <div class=" " id="location" role="tabpanel" aria-labelledby="location-tab">
                    <div class="row location-row1">
                        <div class="col-sm-8 col-xs-10">
                            <div class="title-div">
                            <img class="w_sm_32" width="40" height="40" src="./../assets/images/cog.svg" alt="logo" /><span
                                class="location-span title">Default
                                settings</span>
                                </div>
                        </div>

                        <div class="col-sm-1 col-xs-1" style="float: right;">
                            <img class="float-right" width="40" height="40" src="./../assets/images/Help-black.svg"
                                alt="logo" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="note">
                                <p class="">These settings will be applied to all new users</p>
                            </div>

                            <div class="d-flex direction_sm_column">

                                <div class="uponfile">

                                    <span>Upon filing messages:
                                        </span>
                                        <div class="dropdown show-data setting_dropdown" >
                                            <a  class="dropdown-toggle user-email" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"  >

                                                Move to ‘Filed’ folder

                                               <i class="fas fa-caret-down"></i>
                                              </a>
                                            <ul class="dropdown-menu " id="testDropdown">
                                              <li><a href="#">dropdwon text</a></li>
                                              <li><a href="#">dropdwon text</a></li>
                                              <li><a href="#">dropdwon text</a></li>
                                            </ul>
                                          </div>
                                </div>
                                <div class="allowuser">
                                    <h5> Prevent <br/> user edits
                                    </h5>
                                    <img _ngcontent-gjg-c120="" width="30" height="30"
                                        src="./../assets/images/padlock.svg" alt="logo">

                                </div>
                            </div>




                                  <div class="d-flex">

                                    <div class="uponfile">
                                      <img _ngcontent-gjg-c120="" width="30" height="30"
                                        src="./../assets/images/checkbox-checked-outline.svg" alt="logo">
                                      <span>Mark filed messages
                                    </span>
                                        <div class="tooltipwrap">
                                          <img _ngcontent-nil-c120="" width="30" height="30"
                                              src="./../assets/images/info.svg" alt="logo">
                                          <span class="tooltiptext">
                                              <b> Checked behaviour:</b>
                                              <br>
                                              Messages are marked with a CloudFiler category and the date is added to the subject line in the format
                                              <b>
                                                [Filed on 2038-05-23]
                                              </b>


                                              <br />
                                              <b>Checked behaviour:</b> <br>
                                              The subject line is not changed and no category is added

                                          </span>
                                      </div>
                                    </div>
                                    <div class="allowuser mt-5">

                                      <img _ngcontent-gjg-c120="" width="30" height="30"
                                        src="./../assets/images/padlock-open.svg" alt="logo">

                                    </div>
                                  </div>

                        </div>
                    </div>


                </div>







                <br><Br> <br><Br><br><Br><br><Br><br>


            </div>
            <span style="float:right; margin:10px">Changes have been saved <img width="30" height="30"
                src="./../assets/images/save.svg" alt="logo" />
            </span>
        </div>

    </div>

</div>